{{> partials/header}}

<h1>{{title}}</h1>
<p>This is the homepage for the dance organisation. View classes and book sessions!</p>

<a href="/login">Login</a> |
<a href="/register">Register</a> |
<a href="/courses">View Courses</a>

{{> partials/footer}}
