{{> partials/header}}

<div class="homepage-wrapper">
  <div class="homepage">
    <h1>Welcome to the Dance Organisation</h1>

    {{#user}}
      <p>Welcome back, {{user.username}}!</p>
      <div class="actions">
        <a href="/dashboard" class="btn">Dashboard</a>
        <a href="/logout" class="btn logout">Logout</a>
      </div>
    {{/user}}

    {{^user}}
      <p>Register or login to explore and enroll in dance courses!</p>
      <div class="actions">
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
        <a href="/explore-courses" class="btn">Browse Courses</a>
        <a href="/about" class="btn">About</a>
      </div>
    {{/user}}
  </div>
</div>

{{> partials/footer}}


